params {
  bwa_raw_data   = "$PWD/data"         
  project_folder = "$PWD"               
  bwa_output     = "bwa_output"         

  genomes  = "/path/to/genomes"         // 例如 /mnt/genomes
  organism = "mm10"                     // 例如 mm10 / hg38
  release  = "GRCm38"                   // 例如 GRCm38

  container_bwa      = "$HOME/singularity_images/bwa-0.7.17.sif"
  container_samtools = "$HOME/singularity_images/samtools-1.16.1.sif"

  queue  = 'cpu_p'
  cpus   = 4
  memory = '8GB'
  time   = '4h'
  extra_mounts = ''
}

profiles {

  hpc {

    singularity.enabled    = true
    singularity.autoMounts = true

    process {
      executor = 'slurm'
      queue    = params.queue
      cpus     = params.cpus
      memory   = params.memory
      time     = params.time

      container        = params.container_bwa
      containerOptions = params.extra_mounts
    }

    process {
      withName: 'bwa_indexer' {
        cpus  = 4
        time  = '2h'
        // container = params.container_bwa   
      }

      withName: 'mapping' {
        cpus   = 8
        memory = '32GB'
        time   = '12h'
        // container = params.container_bwa
      }

      // withName: 'mapping' {
      //   container = params.container_samtools
      // }
    }
  }
}
