params {
  bwa_raw_data   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-cutadapt/cutadapt_output"         
  project_folder = "$PWD"               
  bwa_output     = "bwa_output"         

  genomes  = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/reference/"       // path to reference genome  
  organism = "Mus_musculus"                     
  release  = "GRCm39"                   

  container_bwa_sam   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/bwa-sam.sif"

  queue  = 'cpu_p'
  cpus   = 4
  memory = '8GB'
  time   = '4h'
  extra_mounts = ''
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}