params {
  container_bwa_sam = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/bwa-sam.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''

}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_bwa_sam
  containerOptions = params.extra_mounts
}

process {
  withName: 'bwa_index' {
    cpus = 4
    time = '2h'
  }

  withName: 'mapping' {
    cpus   = 8
    memory = '32GB'
    time   = '12h'
  }
}

singularity {
  enabled    = true
  autoMounts = true
}
