params {
  container_bwa = "$HOME/singularity_image/bwa-0.7.17.sif"
  container_samtools = "$HOME/singularity_image/samtools-1.16.1.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_bwa
  containerOptions = params.extra_mounts
}

singularity {
  enabled    = true
  autoMounts = true

}