singularity {
  enabled    = true
  autoMounts = true
}

process {
  executor = 'slurm'
  queue    = params.queue

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_bwa_sam
  containerOptions = params.extra_mounts
}

process {
  withName: 'bwa_index' {
    cpus = 4
    time = '2h'
  }

  withName: 'mapping' {
    cpus   = 8
    memory = '32GB'
    time   = '12h'
  }
}
